<h2>Student Details</h2>

<p>Name : {{student.name}}</p>
<p>Age : {{student.age}}</p>
<button (click)="changeStudent()">Next</button>

<br>
<hr><br>

<input [(ngModel)]="student.name">
<h2>{{ student.name }}</h2>

<hr><br>

<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <div>
        <label>Email :&nbsp;</label>
        <input type="text" name="email" ngModel required email #email="ngModel">&nbsp;
        <small *ngIf="email.invalid && email.touched">Invalid Email</small>
    </div>
    <br>
    <div>
        <label>Password :&nbsp;</label>
        <input type="password" name="password" ngModel required minlength="6" #password="ngModel">&nbsp;
        <small *ngIf="password.invalid && password.touched">Password must be at least 6 character</small>
    </div>
</form>

<h3>All Students:</h3>
<ul>
    <li *ngFor="let s of students">
        {{ s.name }} - {{ s.age }} years
    </li>
</ul>